<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="12.1.1" targetFramework="net461" />
  <package id="ILMerge" version="3.0.21" targetFramework="net461" />
  <package id="MSBuild.ILMerge.Task" version="1.0.5" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>